# The code assumes that containernet is already installed on the machine
tired @ git+https://github.com/damurashov/TIRED.git@master
networkx
twoopt @ git+https://github.com/ku-kick/NetworkOptimizationModel@master
matplotlib>=3.3.4
